<% var url = "http://192.168.1.110:3000/" %>
    <!DOCTYPE html>
    <html lang="en">

    <!--================================================================================
================================================================================ -->

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
        <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
        <title>Page Admin | Dashboard</title>

        <!-- Favicons-->
        <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
        <!-- Favicons-->
        <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
        <!-- For iPhone -->
        <meta name="msapplication-TileColor" content="#00bcd4">
        <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
        <!-- For Windows Phone -->


        <!-- CORE CSS-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="<%=url%>getResource:css|materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="<%=url%>getResource:css|style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
        <!-- Custome CSS-->
        <link href="<%=url%>getResource:css|custom.min.css" type="text/css" rel="stylesheet" media="screen,projection">

        <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
        <link href="<%=url%>getResource:css|prism.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="<%=url%>getResource:css|perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="<%=url%>getResource:css|chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    </head>

    <body>
        <!-- Start Page Loading -->
        <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>
        <!-- End Page Loading -->

        <!-- //////////////////////////////////////////////////////////////////////////// -->

        <!-- START HEADER -->
        <header id="header" class="page-topbar">
            <!-- start header nav-->
            <div class="navbar-fixed">
                <nav class="navbar-color">
                    <div class="nav-wrapper">
                        <ul class="left">
                            <li>

                                <!-- Logo -->
                                <h1 class="logo-wrapper">
                                    <a href="index.html" class="brand-logo darken-1">
                                        <img src="http://localhost:3000/getImage:icon|materialize-logo.png" alt="materialize logo">
                                    </a>
                                </h1>
                                <!-- Logo End -->
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- end header nav-->
        </header>
        <!-- END HEADER -->

        <!-- //////////////////////////////////////////////////////////////////////////// -->

        <!-- START MAIN -->
        <div id="main">
            <!-- START WRAPPER -->
            <div class="wrapper">

                <!-- START LEFT SIDEBAR NAV-->
                <aside id="left-sidebar-nav">
                    <ul id="slide-out" class="side-nav fixed leftside-navigation">

                        <!-- Item -->
                        <li class="bold">
                            <a href="revenue" class="waves-effect waves-cyan">
                                <i class="material-icons">flare</i> Doanh Thu</a>
                        </li>

                        <!-- Item -->
                        <li class="bold">
                            <a href="statistic" class="waves-effect waves-cyan">
                                <i class="material-icons">flare</i> Thống Kê</a>
                        </li>

                        <!-- Item -->
                        <li class="bold">
                            <a href="promotion" class="waves-effect waves-cyan">
                                <i class="material-icons">flare</i> Khuyến Mãi</a>
                        </li>

                        <!-- Item -->
                        <li class="bold">
                            <a href="update-product" class="waves-effect waves-cyan">
                                <i class="material-icons">flare</i> Cập Nhập SP</a>
                        </li>

                        <!-- Item -->
                        <li class="bold">
                            <a href="new-product" class="waves-effect waves-cyan">
                                <i class="material-icons">flare</i> Thêm Mới SP</a>
                        </li>

                    </ul>
                    <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan">
                        <i class="material-icons">menu</i>
                    </a>
                </aside>
                <!-- END LEFT SIDEBAR NAV-->

                <!-- //////////////////////////////////////////////////////////////////////////// -->

                <!-- START CONTENT -->
                <section id="content">

                    <!--breadcrumbs start-->
                    <div id="breadcrumbs-wrapper">
                        <!-- Search for small screen -->
                        <div class="header-search-wrapper grey hide-on-large-only">
                            <i class="mdi-action-search active"></i>
                            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
                        </div>


                        <div class="container">

                            <!--
                            START COTAINER 
                            -->

                            <!--Basic Form-->
                            <div id="basic-form" class="section">

                                <div class="row">
                                    <div class="col s0 m0 l1">
                                        <p></p>
                                    </div>
                                    <div class="col s12 m12 l10">
                                        <div class="card-panel">
                                            <h4 class="header2">
                                                <span class="red-text text-darken-2">THÊM MỚI</span>
                                            </h4>
                                            <div class="row">
                                                <form class="col s12">

                                                    <!-- Item -->
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <input id="ma-sp" type="text">
                                                            <label for="ma-sp">Mã</label>
                                                        </div>
                                                    </div>

                                                    <!-- Item1 -->
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <input id="ten-sp" type="text">
                                                            <label for="ten-sp">Tên</label>
                                                        </div>
                                                    </div>

                                                    <!-- Item2 -->
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <select id="cbox">
                                                                <option value="" disabled selected>Vui lòng chọn</option>
                                                                <option value="1">Xe</option>
                                                                <option value="2">Robo</option>
                                                                <option value="3">Búp bê</option>
                                                            </select>
                                                            <label>Danh mục</label>
                                                        </div>
                                                    </div>

                                                    <!-- Item3 -->
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <input id="sl-sp" type="email">
                                                            <label for="sl-sp">Số lượng</label>
                                                        </div>
                                                    </div>

                                                    <!-- Item3 -->
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <input id="gia-sp" type="email">
                                                            <label for="gia-sp">Đơn giá</label>
                                                        </div>
                                                    </div>

                                                    <!-- Item4 -->
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <input id="video-sp" type="text">
                                                            <label for="video-sp">Video</label>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="file-field input-field col s12">
                                                            <input class="file-path validate" type="text" />
                                                            <div class="btn">
                                                                <span>Hình</span>
                                                                <input type="file" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Item4 -->
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <input id="sdes-sp" type="text">
                                                            <label for="sdes-sp">Mô tả ngắn gọn</label>
                                                        </div>
                                                    </div>

                                                    <!-- Item5 -->
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <textarea id="fdes-sp" class="materialize-textarea"></textarea>
                                                            <label for="fdes-sp">Mô tả đầy đủ</label>
                                                        </div>
                                                    </div>

                                                    <!-- Button -->
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <p class="text-center">
                                                                <a href="javascript:void(0)" id="btn-xong" data-toggle="collapse" class="btn btn-default2 animate-box" data-on="Enabled"
                                                                    data-off="Disabled">Xong</a>
                                                            </p>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!--
                            END COTAINER 
                        -->

                        </div>
                        <!--breadcrumbs end-->
                        <!--end container-->


                </section>
                <!-- END CONTENT -->
                </div>
                <!-- END WRAPPER -->

            </div>
            <!-- END MAIN -->

            <!-- //////////////////////////////////////////////////////////////////////////// -->

            <!-- START FOOTER -->
            <footer class="page-footer">
                <div class="footer-copyright">
                    <div class="container">
                        <span>Copyright © 2018
                            <a class="grey-text text-lighten-4" href="http://themeforest.net/user/geekslabs/portfolio?ref=geekslabs" target="_blank">Kingpesvn</a> All rights reserved.</span>
                        <span class="right"> Design and Developed by
                            <a class="grey-text text-lighten-4" href="http://geekslabs.com/">Kingpesvn</a>
                        </span>
                    </div>
                </div>
            </footer>
            <!-- END FOOTER -->

            <!-- ================================================
            Scripts
            ================================================ -->

            <!-- jQuery Library -->
            <script type="text/javascript" src="<%=url%>getResource:js|jquery-1.11.2.min.js"></script>
            <!--materialize js-->
            <script type="text/javascript" src="<%=url%>getResource:js|materialize.min.js"></script>
            <!--prism
        <script type="text/javascript" src="js/prism/prism.js"></script>-->
            <!--scrollbar-->
            <script type="text/javascript" src="<%=url%>getResource:js|perfect-scrollbar.min.js"></script>
            <!-- chartist -->
            <script type="text/javascript" src="<%=url%>getResource:js|chartist.min.js"></script>

            <!--plugins.js - Some Specific JS codes for Plugin Settings-->
            <script type="text/javascript" src="<%=url%>getResource:js|plugins.min.js"></script>
            <!--custom-script.js - Add your own theme custom JS-->
            <script type="text/javascript" src="<%=url%>getResource:js|custom-script.js"></script>

            <!-- Script -->
            <script>


                $('#btn-xong').click(function () {
                    if ($(this).text() == "Thu gọn") {
                        $(this).text('Xem thêm');

                        var ma_sp = $('#ma-sp').val();
                        if (ma_sp == "") {
                            alert("Khong duoc rong");
                            return;
                        }
                        var ten_sp = $('#ten-sp').val();
                        var sl_sp = $('#sl-sp').val();
                        var dmuc_sp = $('#cbox option:selected').text();
                        var gia_sp = $('#gia-sp').val();
                        var video_sp = $('#video-sp').val();
                        var sdes_sp = $('#sdes-sp').val();
                        var fdes_sp = $('#fdes-sp').val();


                        alert(dmuc_sp + "\n" + ma_sp + "\n" + ten_sp + "\n" + sl_sp + "\n" + gia_sp + "\n" + video_sp + "\n" + sdes_sp + "\n" + fdes_sp);


                        var xhttp = new XMLHttpRequest();
                        xhttp.onreadystatechange = function () {
                            if (this.readyState == 4 && this.status == 200) {
                                // Response
                                alert(this.responseText);
                            }
                        };

                        xhttp.open("GET", "demoGet?ho=chau&ten=huynh", true);
                        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                        xhttp.setRequestHeader("secret", "blah blah");
                        xhttp.setRequestHeader("secret1", "blah blah1");
                        xhttp.setRequestHeader("secret2", "blah blah2");
                        xhttp.send();

                        // xhttp.open("POST", "demoPost", true);
                        // xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                        // xhttp.setRequestHeader("auth", "blah blah");
                        // xhttp.setRequestHeader("secret1", "blah blah1");
                        // xhttp.setRequestHeader("secret2", "blah blah2");
                        // xhttp.send("ten=Henry&ho=Ford");




                    } else {
                        $(this).text('Thu gọn');
                    }
                });

            </script>

    </body>

    </html>