<% var url = host %>
  <!DOCTYPE html>
  <html lang="en">

  <!-- Head -->

  <head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="<%=url%>getResource:css|materialize.css">
    <!--Import owl-carousel.css-->
    <link rel="stylesheet" href="<%=url%>getResource:css|owl.carousel.min.css">
    <link rel="stylesheet" href="<%=url%>getResource:css|owl.theme.default.min.css">
    <!--Import animate.css-->
    <link type="text/css" rel="stylesheet" href="<%=url%>getResource:css|animate.css" media="screen,projection" />
    <!--Import index.css-->
    <link type="text/css" rel="stylesheet" href="<%=url%>getResource:css|index.css" media="screen,projection" />
    <!--Mobile optimize -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kingpesvn</title>
  </head>
  <!-- Head End -->

  <body>
    <!-- Header -->
    <header>




      <!-- Banner -->
      <!-- Banner -->
      <!-- Banner -->
      <div id="banner1">
        <div class="carousel carousel-slider center" data-indicators="true">
          <!-- <div class="carousel-fixed-item center">
          <a class="btn waves-effect white grey-text darken-text-2">button</a>
        </div> -->
          <!-- 
            <div class="carousel-item" href="#one!">
                <a href="#one!"><img src="https://lorempixel.com/800/400/food/1"></a>
            </div>
            <div class="carousel-item" href="#two!">
                <a  href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
            </div>
            <div class="carousel-item" href="#three!">
                <a href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
            </div>
            <div class="carousel-item " href="#four!">
                <a href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
            </div> -->
          <a class="carousel-item" href="#one!">
            <img class="carousel-image" src="<%=url%>getImage:product|namanh.jpg">
          </a>
          <a class="carousel-item" href="#two!">
            <img class="carousel-image" src="<%=url%>getImage:product|aloc.jpg">
          </a>
          <a class="carousel-item" href="#three!">
            <img class="carousel-image" src="<%=url%>getImage:product|myloc.jpg">
          </a>
          <a class="carousel-item" href="#four!">
            <img class="carousel-image" src="<%=url%>getImage:product|ken.jpg">
          </a>
          <a class="carousel-item" href="#four!">
            <img class="carousel-image" src="<%=url%>getImage:product|antuong.jpg">
          </a>
        </div>
      </div>
      <!-- Banner End -->
      <!-- Banner End -->
      <!-- Banner End -->




      <!-- MENU -->
      <!-- MENU -->
      <!-- MENU -->
      <!-- MENU -->
      <!-- MENU -->
      <!-- MENU -->
      <div id="menu" class="">
        <nav id="navbar" class="deep-orange lighten-1">
          <div class="nav-wrapper">
            <!-- <a href="#!" class="brand-logo">Logo</a> -->
            <!-- ICON -->
            <!-- ICON -->
            <!-- ICON -->
            <!-- ICON -->
            <!-- ICON -->
            <a href="#" data-activates="mobile-demo" class="button-collapse">
              <i class="material-icons">menu</i>
            </a>
            <!-- ICON -->
            <!-- ICON -->
            <!-- ICON -->
            <!-- ICON -->
            <!-- ICON -->


            <!-- WEB -->
            <!-- WEB -->
            <!-- WEB -->
            <!-- WEB -->
            <!-- WEB -->

            <ul class="right hide-on-med-and-down">
              <li>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScCtwnRHg0BcfpQ_I2fKWAMY5CDwFytHWhx1oI8YlOA99wu2Q/viewform" target="_blank">
                  Trang Chu
                </a>
              </li>
              <li>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScCtwnRHg0BcfpQ_I2fKWAMY5CDwFytHWhx1oI8YlOA99wu2Q/viewform" target="_blank">
                  Be Trai
                </a>
              </li>
              <li>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScCtwnRHg0BcfpQ_I2fKWAMY5CDwFytHWhx1oI8YlOA99wu2Q/viewform" target="_blank">
                  Be Gai
                </a>
              </li>
              <li>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScCtwnRHg0BcfpQ_I2fKWAMY5CDwFytHWhx1oI8YlOA99wu2Q/viewform" target="_blank">
                  Liên hệ
                </a>
              </li>
              <li>
                <a href="https://play.google.com/store/apps/details?id=com.appromobile.hotel&hl=en" target="_blank">
                  <img class="store-button" src="<%=url%>getImage:icon|GooglePlay-white.png" />
                </a>
              </li>
              <li>
                <a href="https://itunes.apple.com/us/app/go2joy/id1185445287?ls=1&mt=8" target="_blank">
                  <img class="store-button" src="<%=url%>getImage:icon|appstore-white.png" />
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- WEB -->
        <!-- WEB -->
        <!-- WEB -->
        <!-- WEB -->
        <!-- WEB -->
        <!-- WEB -->

        <!-- MOBILE -->
        <!-- MOBILE -->
        <!-- MOBILE -->
        <!-- MOBILE -->
        <!-- MOBILE -->
        <ul class="side-nav" id="mobile-demo">
          <li>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScCtwnRHg0BcfpQ_I2fKWAMY5CDwFytHWhx1oI8YlOA99wu2Q/viewform" target="_blank">
              Trang Chu
            </a>
          </li>
          <li>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScCtwnRHg0BcfpQ_I2fKWAMY5CDwFytHWhx1oI8YlOA99wu2Q/viewform" target="_blank">
              Be Trai
            </a>
          </li>
          <li>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScCtwnRHg0BcfpQ_I2fKWAMY5CDwFytHWhx1oI8YlOA99wu2Q/viewform" target="_blank">
              Be Gai
            </a>
          </li>
          <li>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScCtwnRHg0BcfpQ_I2fKWAMY5CDwFytHWhx1oI8YlOA99wu2Q/viewform" target="_blank">
              Liên hệ
            </a>
          </li>
          <li>
            <a href="https://play.google.com/store/apps/details?id=com.appromobile.hotel&hl=en" target="_blank">
              <img class="store-button" src="<%=url%>getImage:icon|GooglePlay-white.png" />
            </a>
          </li>
          <li>
            <a href="https://itunes.apple.com/us/app/go2joy/id1185445287?ls=1&mt=8" target="_blank">
              <img class="store-button" src="<%=url%>getImage:icon|appstore-white.png" />
            </a>
          </li>
        </ul>
        <!-- MOBILE -->
        <!-- MOBILE -->
        <!-- MOBILE -->
        <!-- MOBILE -->
        <!-- MOBILE -->
      </div>
      <!-- Navigation End -->
    </header>
    <!-- Header End -->




    <!-- Main -->
    <!-- Main -->
    <!-- Main -->
    <!-- Main -->
    <!-- Main -->
    <!-- Main -->
    <main>
      <div id="about">
        <div class="parallax-container">
          <div class="parallax">
            <img src="<%=url%>getImage:product|antuong.jpg">
          </div>
        </div>
        <div class="section white">
          <div class="row container">
            <h2 class="header deep-orange-text">
              <blockquote>
                Kingpes
              </blockquote>
            </h2>
            <p class="grey-text text-darken-3 lighten-3 flow-text">Go2Joy là ứng dụng trên điện thoại di động giúp người dùng đặt phòng theo giờ một cách nhanh chóng, thuận tiện,
              riêng tư. Không cần phải mất nhiều thời gian tìm kiếm nữa, với Go2Joy, chỉ cần vài cú chạm trong vài giây,
              bạn đã có thể chọn cho mình một địa điểm trải nghiệm dịch vụ ưng ý. Hãy để công nghệ hiện đại phục vụ cho cuộc
              sống của bạn dễ dàng và thoải mái hơn!</p>
            <p class="fbshare">
              <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=450&layout=standard&action=like&size=large&show_faces=true&share=true&height=80&appId=1560905190879719"
                width="650" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
            </p>
          </div>
        </div>
        <!-- <div class="parallax-container">
        <div class="parallax">
          <img src="<%=url%>getImage:product|antuong.jpg">
        </div>
      </div> -->
      </div>

      <!-- PRODUCT -->
      <!-- PRODUCT -->
      <!-- PRODUCT -->
      <!-- PRODUCT -->
      <!-- PRODUCT -->
      <div id="hotel" class="section">
        <div class="container section">
          <h2 class="header deep-orange-text row">
            <blockquote>
              Khách sạn
            </blockquote>
          </h2>
          <div class="row section">

            <!-- START one hotel item -->
            <div id="result"></div>

            <!-- <div class="col s12 m6 l4">
              <a class="modal-trigger" href="#modal1">
                <div class="card hoverable z-depth-2">
                  <div class="card-image">
                    <img id="product_image" src="<%=url%>getImage:product|aloc.jpg">
                  </div>
                  <div class="card-content">
                    <h5 id = "product_name" class="deep-orange-text text-darken-1">Nam Anh Hotel</h5>
                    <p id = "product_desc" class=" grey-text text-darken-4">331/8 Đường Phan Huy Ích, P.14, Q.Gò Vấp, TP.HCM</p>
                  </div>
                </div>
              </a>
            </div> -->

            <script>
              var xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                  // Response
                  var output;
                  var json = JSON.parse(this.responseText);
                  $.each(json, function (i, item) {
                    item.forEach(function (entry) {

                      output = '<div class="col s12 m6 l4">';
                      output += '<a class="modal-trigger" href="#modal1">';
                      output += '<div class="card hoverable z-depth-2">';
                      output += '<div class="card-image">';
                      output += '<img src="<%=url%>getImage:product|aloc.jpg">';
                      output += '</div>';
                      output += '<div class="card-content">';
                      output += '<h5 class="deep-orange-text text-darken-1">'+entry.productName+'</h5>';
                      output += '<p class=" grey-text text-darken-4">'+ entry.shortDescription +'</p>';
                      output += '</div>';
                      output += '</div>';
                      output += '</a>';
                      output += '</div>';
                      $('#result').append(output);

                    });
                  })
                }
              };
              xhttp.open("GET", "findAllProduct?offset=0&limit=10", true);
              xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
              xhttp.setRequestHeader("secret", "12345");
              xhttp.send();
            </script>


          </div>
    </main>
    <!-- Main End -->



    <!-- Footer -->
    <!-- Footer -->
    <!-- Footer -->
    <!-- Footer -->
    <!-- Footer -->
    <!-- Footer -->
    <footer class="page-footer">
      <div class="container">
        <div class="row">

          <!-- ADDRRESS -->
          <!-- ADDRRESS -->
          <!-- ADDRRESS -->
          <div class="col l6 s12">
            <h5 class="white-text">Cua hang do choi Kingpes</h5>
            <p class="grey-text text-lighten-4">D/C: 65 Luu Chi Hieu - Tay Thanh - Tan Phu - Ho Chi Minh</p>
            <p class="grey-text text-lighten-4">Hotline: 0937590127</p>
          </div>
          <!-- ADDRRESS -->
          <!-- ADDRRESS -->
          <!-- ADDRRESS -->

          <!-- <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Link 1</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Link 2</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Link 3</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Link 4</a>
              </li>
            </ul>
          </div> -->


        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Copyright © 2018
          <a class="grey-text text-lighten-4 right" href="#!">Design and Developed by Kingpes</a>
        </div>
      </div>
    </footer>
    <!-- Footer End -->



    <!-- Import query -->
    <script type="text/javascript" src="<%=url%>getResource:js|jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="<%=url%>getResource:js|owl.carousel.min.js"></script>
    <script type="text/javascript" src="<%=url%>getResource:js|materialize.js"></script>
    <script type="text/javascript" src="<%=url%>getResource:js|index.js"></script>

  </body>

  </html>