<% var url = host %>
  <!DOCTYPE html>
  <html lang="en">

  <!-- Head -->

  <head>

    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="kingpes, do choi, do choi gia re, do choi tre em, do choi cho be, do choi lego, do choi youtube">
    <meta name="keywords" content="kingpes, do choi, do choi gia re, do choi tre em, do choi cho be, do choi lego, do choi youtube">


    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="<%=url%>getResource:css|materialize.css">
    <!--Import owl-carousel.css-->
    <link rel="stylesheet" href="<%=url%>getResource:css|owl.carousel.min.css">
    <link rel="stylesheet" href="<%=url%>getResource:css|owl.theme.default.min.css">
    <!--Import animate.css-->
    <link type="text/css" rel="stylesheet" href="<%=url%>getResource:css|animate.css" media="screen,projection" />
    <!--Import index.css-->
    <link type="text/css" rel="stylesheet" href="<%=url%>getResource:css|index.css" media="screen,projection" />

    <title>Cửa Hàng Đồ Chơi Kingpes</title>

  </head>
  <!-- Head End -->

  <body>
    <!-- Header -->
    <header>




      <!-- Banner -->
      <!-- Banner -->
      <!-- Banner -->
      <div id="banner1">
        <div class="carousel carousel-slider center" data-indicators="true">

          <a class="carousel-item">
            <img class="carousel-image" src="<%=url%>getImage:product|truck-1.jpg">
          </a>
          <a class="carousel-item">
            <img class="carousel-image" src="<%=url%>getImage:product|rage-1.jpg">
          </a>
          <a class="carousel-item">
            <img class="carousel-image" src="<%=url%>getImage:product|xebon-1.jpg">
          </a>
          <a class="carousel-item">
            <img class="carousel-image" src="<%=url%>getImage:product|baby-1.jpg">
          </a>
          <a class="carousel-item">
            <img class="carousel-image" src="<%=url%>getImage:product|sieunhan-1.jpg">
          </a>
        </div>
      </div>
      <!-- Banner End -->
      <!-- Banner End -->
      <!-- Banner End -->


      <!-- MENU -->
      <!-- MENU -->
      <!-- MENU -->
      <!-- MENU -->
      <!-- MENU -->
      <!-- MENU -->
      <div id="menu" class="">
        <nav id="navbar" class="deep-orange lighten-1">
          <div class="nav-wrapper">
            <!-- ICON -->
            <!-- ICON -->
            <!-- ICON -->
            <!-- ICON -->
            <!-- ICON -->
            <a href="#" data-activates="mobile-demo" class="button-collapse">
              <i class="material-icons">menu</i>
            </a>
            <!-- ICON -->
            <!-- ICON -->
            <!-- ICON -->
            <!-- ICON -->
            <!-- ICON -->


            <!-- WEB -->
            <!-- WEB -->
            <!-- WEB -->
            <!-- WEB -->
            <!-- WEB -->

            <div class="row">
              <div class="col s6">
                <ul class="left hide-on-med-and-down">
                  <li>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLScCtwnRHg0BcfpQ_I2fKWAMY5CDwFytHWhx1oI8YlOA99wu2Q/viewform" target="_blank">
                      Trang Chủ
                    </a>
                  </li>
                  <li>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLScCtwnRHg0BcfpQ_I2fKWAMY5CDwFytHWhx1oI8YlOA99wu2Q/viewform" target="_blank">
                      Đồ Chơi Bé Trai
                    </a>
                  </li>
                  <li>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLScCtwnRHg0BcfpQ_I2fKWAMY5CDwFytHWhx1oI8YlOA99wu2Q/viewform" target="_blank">
                      Đồ Chơi Bé Gái
                    </a>
                  </li>
                  <li>
                    <a class="modal-trigger" href="#modal-search">
                      Tìm Kiếm
                    </a>
                  </li>
                  <li>
                    <a class="modal-trigger" href="#modal-contact">
                      Liên Hệ
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col s6">
                <ul class="right hide-on-med-and-down">
                  <li>
                    <a href="https://itunes.apple.com/us/app/go2joy/id1185445287?ls=1&mt=8" target="_blank">
                      <img class="store-button" align="center" src="<%=url%>getImage:icon|appstore-white.png" />
                    </a>
                  </li>

                  <li>
                    <a href="https://itunes.apple.com/us/app/go2joy/id1185445287?ls=1&mt=8" target="_blank">
                      <img class="store-button" align="center" src="<%=url%>getImage:icon|googleplay-white.png" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </nav>
        <!-- WEB -->
        <!-- WEB -->
        <!-- WEB -->
        <!-- WEB -->
        <!-- WEB -->
        <!-- WEB -->

        <!-- MOBILE -->
        <!-- MOBILE -->
        <!-- MOBILE -->
        <!-- MOBILE -->
        <!-- MOBILE -->
        <ul class="side-nav  light-green lighten-5" id="mobile-demo">
          <li>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScCtwnRHg0BcfpQ_I2fKWAMY5CDwFytHWhx1oI8YlOA99wu2Q/viewform" target="_blank">
              Trang Chủ
            </a>
          </li>
          <li>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScCtwnRHg0BcfpQ_I2fKWAMY5CDwFytHWhx1oI8YlOA99wu2Q/viewform" target="_blank">
              Đồ Chơi Bé Trai
            </a>
          </li>
          <li>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScCtwnRHg0BcfpQ_I2fKWAMY5CDwFytHWhx1oI8YlOA99wu2Q/viewform" target="_blank">
              Đồ Chơi Bé Gái
            </a>
          </li>
          <li>
            <a class="modal-trigger" href="#modal-search">
              Tìm Kiếm
            </a>
          </li>
          <li>
            <a class="modal-trigger" href="#modal-contact">
              Liên Hệ
            </a>
          </li>
          <li>
            <a href="https://play.google.com/store/apps/details?id=com.appromobile.hotel&hl=en" target="_blank">
              <img class="store-button" align="center" style="width:50%" src="<%=url%>getImage:icon|googleplay-white.png" />
            </a>
          </li>
          <li>
            <a href="https://itunes.apple.com/us/app/go2joy/id1185445287?ls=1&mt=8" target="_blank">
              <img class="store-button" align="center" style="width:50%" src="<%=url%>getImage:icon|appstore-white.png" />
            </a>
          </li>
        </ul>
        <!-- MOBILE -->
        <!-- MOBILE -->
        <!-- MOBILE -->
        <!-- MOBILE -->
        <!-- MOBILE -->
      </div>
      <!-- Navigation End -->
    </header>
    <!-- Header End -->


    <!-- Main -->
    <!-- Main -->
    <!-- Main -->
    <!-- Main -->
    <!-- Main -->
    <!-- Main -->
    <main>
      <div>

        <!-- <div class="parallax-container">
          <div class="parallax">
            <img src="<%=url%>getImage:icon|banner.jpg">
          </div>
        </div> -->

        <div class="section white">
          <div class="row container">
            <!-- <h2 class="header deep-orange-text">
              <blockquote>
                Kingpes
              </blockquote>
            </h2> -->

            <div class="product-price card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title header deep-orange-text">Kingpes</span>
                <p>Chuyên cung cấp đồ chơi trẻ em.</p>
                <p>Sản phẩm đa dạng phong phú.</p>
                <p>Giá thành rẻ.</p>
                <p>Giao hàng tận nơi.</p>
              </div>
            </div>
          </div>
        </div>


        <!-- PRODUCT -->
        <!-- PRODUCT -->
        <!-- PRODUCT -->
        <!-- PRODUCT -->
        <!-- PRODUCT -->
        <div id="product" class="section">
          <div class="container section">

            <!-- Title -->
            <h4 class="deep-orange-text row">
              <blockquote id="category"></blockquote>
            </h4>

            <!-- Container -->
            <div class="row section">

              <!-- START one hotel item -->
              <div id="result"></div>

              <!-- <div class="col s12 m6 l4">
                <a class="modal-trigger" href="<%=url%>details">
                  <div class="card hoverable z-depth-2">

                    <div class="card-image">
                      <img src="<%=url%>getImage:product|truck-1.jpg">
                      <span class="label-home-discount" id="label-home-discount">-30%</span>
                    </div>

                    <div class="card-content">
                      <div class="row">

                        <div class="col s7">
                          <h5 class=" price-sell deep-orange-text text-darken-1" id="price-sell">500.000 vnd</h5>
                        </div>

                        <div class="col s5">
                          <p class="price-discount" id="price-discount">50.000vnd</p>
                        </div>

                      </div>

                      <p class="product-name-home" id="product-name">Nam Anh Hotel 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15</p>

                      <div class="rate-star row">

                        <div class="col s6">
                          <a class="waves-effect waves-light">
                            <i class="material-icons left yellow-text text-darken-2 left">star</i>
                          </a>
                          <a class="waves-effect waves-light">
                            <i class="material-icons left yellow-text text-darken-2 left">star</i>
                          </a>
                          <a class="waves-effect waves-light">
                            <i class="material-icons left yellow-text text-darken-2 left">star</i>
                          </a>
                          <a class="waves-effect waves-light">
                            <i class="material-icons left yellow-text text-darken-2 left">star</i>
                          </a>
                          <a class="waves-effect waves-light">
                            <i class="material-icons left yellow-text text-darken-2 left">star</i>
                          </a>
                          <a class="icon-label">(5/73)</a>
                        </div>


                        <div class="col s3">
                          <a class="waves-effect waves-light">
                            <i class="material-icons red-text text-darken-2 left">favorite</i>
                          </a>
                          <a class="icon-label">(102)</a>
                        </div>

                        <div class="col s3">
                          <a class="waves-effect waves-light">
                            <i class="material-icons red-text text-darken-2 left">comment</i>
                          </a>
                          <a class="icon-label">(173)</a>
                        </div>

                      </div>

                    </div>
                  </div>
                </a>

              </div> -->

            </div>

          </div>
        </div>
    </main>
    <!-- Main End -->



    <!-- Footer -->
    <!-- Footer -->
    <!-- Footer -->
    <!-- Footer -->
    <!-- Footer -->
    <!-- Footer -->
    <footer class="page-footer deep-orange lighten-1">
      <div class="container">
        <div class="row">

          <!-- ADDRRESS -->
          <!-- ADDRRESS -->
          <!-- ADDRRESS -->
          <div class="col l6 s12">
            <h5 class="white-text">Cửa Hàng Đồ Chơi Kingpes</h5>
            <p class="grey-text text-lighten-4">D/C: 65B Lưu Chí Hiếu - P.Tây Thạnh - Q.Tân Phú - HCM</p>
            <p class="grey-text text-lighten-4">Hotline: 0902.500.478</p>
            <p class="grey-text text-lighten-4">Email: kingpesvn@gmail.com</p>
            <p class="grey-text text-lighten-4">Website: kingpes.com</p>
          </div>
          <!-- ADDRRESS -->
          <!-- ADDRRESS -->
          <!-- ADDRRESS -->

          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Google+</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Facebok</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Youtube</a>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div class="footer-copyright">
        <div class="container">
          Copyright © 2018 Kingpes
          <a class="grey-text text-lighten-4 right" href="#!">Design and Developed by Kingpes</a>
        </div>
      </div>
    </footer>
    <!-- Footer End -->


    <!-- Modal -->
    <!-- Modal Trigger -->
    <!-- Modal Trigger -->
    <!-- Modal Trigger -->
    <div id="modal-contact" class="modal">
      <div class="modal-content">
        <!-- =========== -->
        <div class="row">
          <div class="col s12 m12">
            <div class="card-panel teal">
              <span class="white-text" align="center">
                <h5 class="white-text">Cửa Hàng Đồ Chơi Kingpes</h5>
                <p class="grey-text text-lighten-4">Đ/C: 65B Lưu Chí Hiếu - P.Tây Thạnh - Q.Tân Phú - HCM</p>
                <p class="grey-text text-lighten-4">Hotline: 0902.500.478</p>
                <p class="grey-text text-lighten-4">Email: kingpesvn@gmail.com</p>
                <p class="grey-text text-lighten-4">Website: kingpes.com</p>
              </span>
            </div>
          </div>
        </div>
        <!-- =========== -->
      </div>
      <!-- <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn">Tìm</a>
      </div> -->
    </div>
    <!-- Modal Trigger -->
    <!-- Modal Trigger -->
    <!-- Modal Trigger -->
    <!-- Modal Trigger -->
    <!-- Modal Trigger -->
    <!-- Modal Trigger -->
    <div id="modal-search" class="modal">
      <div class="modal-content">
        <nav class=" teal">
          <div class="nav-wrapper">
            <form>
              <div class="input-field">
                <input id="search" type="search" placeholder="Nhập từ khóa để tìm" required>

                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </nav>
      </div>
      <div class="modal-footer">
        <a href="<%=url%>details/sn:7" class="modal-action modal-close waves-effect waves-green btn">Tìm</a>
      </div>
    </div>
    <!-- Modal Trigger -->
    <!-- Modal Trigger -->
    <!-- Modal Trigger -->

    <!-- Import query -->
    <script type="text/javascript" src="<%=url%>getResource:js|jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="<%=url%>getResource:js|owl.carousel.min.js"></script>
    <script type="text/javascript" src="<%=url%>getResource:js|materialize.js"></script>
    <script type="text/javascript" src="<%=url%>getResource:js|index.js"></script>
    <!-- <script type="text/javascript" src="<%=url%>getResource:js|jquery.unveil.js"></script> -->
    <script type="text/javascript" src="<%=url%>getResource:js|jquery.load-more.js"></script>

    <script type="text/javascript">
      //$(".lazyload").unveil();
      lazyload();

      $('#category').append("Tất cả sản phẩm");

    </script>

    <!-- Scroll Loadmore -->
    <script type="text/javascript">

      //Load Default
      var isFinish = false;
      var size = 0;
      var _offset = 0;
      var _limit = 10;
      loadData(_offset, _limit);

      $(window).scroll(function () {
        if ($(window).scrollTop() >= $(document).height() - ($(window).height() * 4)) {
          if (!isFinish) {
            //loadData(_offset, _limit);
          }
        }
      });


      function loadData(offset, limit) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            // Response
            var s = "";
            var output;
            var json = JSON.parse(this.responseText);

            $.each(json, function (i, item) {
              item.forEach(function (entry) {
                var productId = entry.productId;
                var productName = entry.productName;
                var sell = entry.sell;
                var discount = entry.discount;
                var image1 = entry.image1;
                var likeTotal = entry.likeTotal;
                var rateTotal = entry.rateTotal;
                var rateValue = entry.rateValue;
                var commentTotal = entry.commentTotal;

                var id = productId + "-" + sell + "-" + discount + "-" + likeTotal + "-" + rateTotal + "-" + rateValue + "-" + commentTotal;

                output = '<div class="col s12 m6 l4">';
                output += '<a class="modal-trigger" href="<%=url%>details/sn:' + id + '">';
                output += '<div class="card hoverable z-depth-2">';

                output += '<div class="card-image">';
                output += '<img src="<%=url%>getImage:product|' + entry.image1 + '.jpg">';
                if (discount != null || discount > 0) {
                  output += '<span class="label-home-discount"> -' + discount + '% </span>'
                }
                output += '</div>';

                output += '<div class="card-content">';
                output += '<div class="row">';

                output += '<div class="col s7">';

                var formatCurrency = sell - ((sell * discount) / 100);
                formatCurrency = formatCurrency.toLocaleString('it-IT', { style: 'currency', currency: 'VND' });

                output += '<h5 class=" price-sell deep-orange-text text-darken-1" id="price-sell">' + formatCurrency + '</h5>';
                output += '</div>';

                output += '<div class="col s5">';
                if (discount != null || discount > 0) {
                  var formatCurrency = sell;
                  formatCurrency = formatCurrency.toLocaleString('it-IT', { style: 'currency', currency: 'VND' });
                  output += '<p class="price-discount">' + formatCurrency + '</p>';
                }
                output += '</div>';

                output += '</div>';

                output += '<p class="product-name-home">' + entry.productName + '</p>';

                output += '<div class="rate-star row">';
                output += '<div class="col s6">';

                var rate = rateValue / rateTotal;
                if (rateTotal == null || rateTotal == 0) {
                  rate = 0;
                  rateTotal = 0;
                }
                for (i = 0; i < rate; i++) {
               
                  output += '<i class="material-icons left yellow-text text-darken-2 left">star</i>';
     
                }

                for (i = 0; i < 5 - rate; i++) {
       
                  output += '<i class="material-icons left grey-text text-darken-2 left">star</i>';
        
                }

                output += '<a class="icon-label">(' + rate + "/" + rateTotal + ')</a>';
                output += '</div>';

                output += '<div class="col s3">';
              
                if (likeTotal != null || likeTotal > 0) {
                  output += '<i class="material-icons red-text text-darken-2 left">favorite</i>';
            
                  output += '<a class="icon-label">(' + likeTotal + ')</a>';
                  output += '</div>';
                } else {
                  output += '<i class="material-icons grey-text text-darken-2 left">favorite</i>';
     
                  output += '<a class="icon-label">(' + 0 + ')</a>';
                  output += '</div>';
                }


                output += '<div class="col s3">';
      
                if (commentTotal != null || commentTotal > 0) {
                  output += '<i class="material-icons red-text text-darken-2 left">comment</i>';
       
                  output += '<a class="icon-label">(' + commentTotal + ')</a>';
                  output += '</div>';
                } else {
                  output += '<i class="material-icons grey-text text-darken-2 left">comment</i>';
     
                  output += '<a class="icon-label">(' + 0 + ')</a>';
                  output += '</div>';
                }

                output += '</div>';
                output += '</div>';
                output += '</div>';
                output += '</a>';
                output += '</div>';

                $('#result').append(output);
                size++;
                _offset++;
              });
            })
            //Check end load
            if (size == _limit) {
              size = 0;
            } else {
              isFinish = true;
            }
          }
        };
        xhttp.open("GET", "findAllProduct?offset=" + offset + "&limit=" + limit, true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.setRequestHeader("secret", "12345");
        xhttp.send();
      }

    </script>

  </body>

  </html>