<% var url = "http://localhost:3000/" %>
    <!DOCTYPE html>
    <html lang="en">

    <!--================================================================================
================================================================================ -->

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
        <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
        <title>Page Admin | Dashboard</title>

        <!-- Favicons-->
        <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
        <!-- Favicons-->
        <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
        <!-- For iPhone -->
        <meta name="msapplication-TileColor" content="#00bcd4">
        <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
        <!-- For Windows Phone -->


        <!-- CORE CSS-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="<%=url%>getResource:css|materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="<%=url%>getResource:css|style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
        <!-- Custome CSS-->
        <link href="<%=url%>getResource:css|custom.min.css" type="text/css" rel="stylesheet" media="screen,projection">

        <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
        <link href="<%=url%>getResource:css|prism.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="<%=url%>getResource:css|perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="<%=url%>getResource:css|chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    </head>

    <body>
        <!-- Start Page Loading -->
        <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>
        <!-- End Page Loading -->

        <!-- //////////////////////////////////////////////////////////////////////////// -->

        <!-- START HEADER -->
        <header id="header" class="page-topbar">
            <!-- start header nav-->
            <div class="navbar-fixed">
                <nav class="navbar-color">
                    <div class="nav-wrapper">
                        <ul class="left">
                            <li>

                                <!-- Logo -->
                                <h1 class="logo-wrapper">
                                    <a href="index.html" class="brand-logo darken-1">
                                        <img src="http://localhost:3000/getImage:icon|materialize-logo.png" alt="materialize logo">
                                    </a>
                                </h1>
                                <!-- Logo End -->
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- end header nav-->
        </header>
        <!-- END HEADER -->

        <!-- //////////////////////////////////////////////////////////////////////////// -->

        <!-- START MAIN -->
        <div id="main">
            <!-- START WRAPPER -->
            <div class="wrapper">

                <!-- START LEFT SIDEBAR NAV-->
                <aside id="left-sidebar-nav">
                    <ul id="slide-out" class="side-nav fixed leftside-navigation">

                        <!-- Item -->
                        <li class="bold">
                                <a href="revenue" class="waves-effect waves-cyan">
                                    <i class="material-icons">flare</i> Doanh Thu</a>
                            </li>
    
                            <!-- Item -->
                            <li class="bold">
                                <a href="statistic" class="waves-effect waves-cyan">
                                    <i class="material-icons">flare</i> Thống Kê</a>
                            </li>
    
                            <!-- Item -->
                            <li class="bold">
                                <a href="promotion" class="waves-effect waves-cyan">
                                    <i class="material-icons">flare</i> Khuyến Mãi</a>
                            </li>
    
                            <!-- Item -->
                            <li class="bold">
                                <a href="update-product" class="waves-effect waves-cyan">
                                    <i class="material-icons">flare</i> Cập Nhập SP</a>
                            </li>
    
                            <!-- Item -->
                            <li class="bold">
                                <a href="new-product" class="waves-effect waves-cyan">
                                    <i class="material-icons">flare</i> Thêm Mới SP</a>
                            </li>

                    </ul>
                    <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan">
                        <i class="material-icons">menu</i>
                    </a>
                </aside>
                <!-- END LEFT SIDEBAR NAV-->

                <!-- //////////////////////////////////////////////////////////////////////////// -->

                <!-- START CONTENT -->
                <section id="content">

                    <!--breadcrumbs start-->
                    <div id="breadcrumbs-wrapper">
                        <!-- Search for small screen -->
                        <div class="header-search-wrapper grey hide-on-large-only">
                            <i class="mdi-action-search active"></i>
                            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
                        </div>


                        <div class="container">

                            <!--
                            START COTAINER 
                            -->

                            

                            <!--
                            END COTAINER 
                        -->

                        </div>
                        <!--breadcrumbs end-->
                        <!--end container-->


                </section>
                <!-- END CONTENT -->
                </div>
                <!-- END WRAPPER -->

            </div>
            <!-- END MAIN -->

            <!-- //////////////////////////////////////////////////////////////////////////// -->

            <!-- START FOOTER -->
            <footer class="page-footer">
                <div class="footer-copyright">
                    <div class="container">
                        <span>Copyright © 2018
                            <a class="grey-text text-lighten-4" href="http://themeforest.net/user/geekslabs/portfolio?ref=geekslabs" target="_blank">Kingpesvn</a> All rights reserved.</span>
                        <span class="right"> Design and Developed by
                            <a class="grey-text text-lighten-4" href="http://geekslabs.com/">Kingpesvn</a>
                        </span>
                    </div>
                </div>
            </footer>
            <!-- END FOOTER -->

            <!-- ================================================
    Scripts
    ================================================ -->

            <!-- jQuery Library -->
            <script type="text/javascript" src="<%=url%>getResource:js|jquery-1.11.2.min.js"></script>
            <!--materialize js-->
            <script type="text/javascript" src="<%=url%>getResource:js|materialize.min.js"></script>
            <!--prism
        <script type="text/javascript" src="js/prism/prism.js"></script>-->
            <!--scrollbar-->
            <script type="text/javascript" src="<%=url%>getResource:js|perfect-scrollbar.min.js"></script>
            <!-- chartist -->
            <script type="text/javascript" src="<%=url%>getResource:js|chartist.min.js"></script>

            <!--plugins.js - Some Specific JS codes for Plugin Settings-->
            <script type="text/javascript" src="<%=url%>getResource:js|plugins.min.js"></script>
            <!--custom-script.js - Add your own theme custom JS-->
            <script type="text/javascript" src="<%=url%>getResource:js|custom-script.js"></script>

    </body>

    </html>